{% extends 'layout/default.html.twig' %}

{% block title %}task{% endblock %}

{% block meta %}
    <meta name="description" content="task Page description" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">task</li>
    </ul>
{% endblock %}

{% block content %}

        <div class="form-row">
            <div class="col-1 mr-5">
                <form action="" method="get">
                    <input type="hidden" name="sort" value="{{ sortSwitcher.sortSwitcher(params.sort) }}" />
                    <input type="hidden" name="field" value="username"/>
                    <button class="btn">
                        {% if params.field == 'username' %}
                            {{ sortSwitcher.arrowSwitcher(params.sort)|raw }}
                        {% endif %}
                        Username</button>
                </form>
            </div>
            <div class="col-1">
                <form action="" method="get">
                    <input type="hidden" name="sort" value="{{ sortSwitcher.sortSwitcher(params.sort) }}" />
                    <input type="hidden" name="field" value="email"/>
                    <button class="btn">
                        {% if params.field == 'email' %}
                            {{ sortSwitcher.arrowSwitcher(params.sort)|raw }}
                        {% endif %}
                        Email</button>
                </form>
            </div>
            <div class="col-1">
                <form action="" method="get">
                    <input type="hidden" name="sort" value="{{ sortSwitcher.sortSwitcher(params.sort) }}" />
                    <input type="hidden" name="field" value="checked"/>
                    <button class="btn">
                        {% if params.field == 'checked' %}
                            {{ sortSwitcher.arrowSwitcher(params.sort)|raw }}
                        {% endif %}
                        Checked</button>
                </form>
            </div>
        </div>

    <h1>Tasks</h1>

    {% for task in tasks %}

        <div class="card mb-3">
            <div class="card-header">
                <span class="float-right">{{ task.created_at|date('Y-m-d') }}</span>
                <b>Username: </b><a>{{ task.username }}</a>
                <b>Email: </b><a>{{ task.email }}</a>
            </div>
            <div class="card-body">{{ task.content|nl2br }}</div>
            <div class="card-footer">
                {% if task.if_edited == true %}
                    Edited by Admin.
                {% endif %}
                {% if task.checked == true %}
                    <span class="float-right"><span class="btn btn-success">Checked</span></span>
                {% endif %}
            </div>
        </div>

    {% endfor %}

    <form action="{{ path('task_create') }}" method="post" class="needs-validation {{ validator.isValidated }} my-5">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" required value="{{ validator.getOldValue('username') }}">
                <div class="invalid-feedback">
                    {{ validator.getError('username') }}
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required value="{{ validator.getOldValue('email') }}">
                <div class="invalid-feedback">
                    {{ validator.getError('email') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="text">Task</label>
            <div class="input-group">
                <textarea class="form-control" id="text" aria-label="With textarea" name="text" required>{{ validator.getOldValue('text') }}</textarea>
                <div class="invalid-feedback">
                    {{ validator.getError('text') }}
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-success">
    </form>

    {% include 'share/pager.html.twig' with {
        'pager': pager,
        'main_route': 'home',
        'route': 'task_page',
    } %}

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>


{% endblock %}
